{% extends "base.html" %}
{% block content %}
        <!-- PAGE BANNER SECTION -->
        <div class="page-banner-section section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-banner-content">
                            <h1>Login page</h1>
                            <ul class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">login page</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE SECTION START -->
        <div class="page-section section pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        <div class="login-reg-form">
                            <form action="{{ url_for('login') }}" method='POST'>
                                <div class="row">
                                    <div class="col-xs-12 mb-20">
                                        <label for="email">Username or email <span class="required">*</span></label>
                                        <input name="email" id="email" type="text">
                                    </div>
                                    <div class="col-xs-12 mb-20">
                                        <label for="password">Passwords <span class="required">*</span></label>
                                        <input name="password" id="password" type="password">
                                    </div>
                                    <div class="col-xs-12 mb-20">
                                        <input value="Login" name="login" class="inline" type="submit">
                                        <label class="inline" for="rememberme">
                                            <input id="rememberme" name="rememberme" type="checkbox">
                                            Remember me
                                        </label>
                                    </div>
                                    <div class="col-xs-12">
                                        <a href="#">Lost your password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE SECTION END -->

    <!-- Body main wrapper end -->


    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jQuery latest version -->
    <script src="js/vendor/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Ajax Mail js -->
    <script src="js/ajax-mail.js"></script>
    <!-- Main js -->
    <script src="js/main.js"></script>

</body>

</html>

{% endblock content %}